* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.container {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  font-size: 1.6rem;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.8rem;
}
p {
  margin: 20px 0;
  line-height: 1.25;
}
.home header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  margin-bottom: 30px;
  border-bottom: 1px dashed black;
}
.home header nav {
  display: flex;
  width: 70%;
  justify-content: space-evenly;
}
.tab-navigator .tab-links {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.tab-navigator .tab-links .link {
  padding: 20px 40px;
  background: lightgray;
  border: 1px solid black;
  cursor: pointer;
}
.tab-navigator .tab-content {
  width: 100%;
  margin-top: 20px;
  background: lightgray;
}
.tab-navigator .tab-content .content {
  padding: 20px;
  border: 1px solid black;
  display: none;
}
.tab-navigator .tab-content .change {
  display: block;
}
